@keyframes banner {
  from { top: -20px; }
  to { top: 0px; }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade-out {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes expand {
  from { transform: scaleX(0) }
  to { transform: scaleX(1) }
}

@keyframes pause-slide-up {
  0% { bottom: -80px; }
  50% { bottom: -80px; }
  100% { bottom: 0px; }
}

// @keyframes spin {
//   0% { transform: rotate(0deg) }
//   75% { transform: rotate(360deg) }
//   100% { transform: rotate(360deg) }
// }