$dark-cyan-light-4: hsl(213.5, 91.5%, 76.9%);
$dark-cyan-light-3: hsl(213.5, 91.5%, 66.9%);
$dark-cyan-light-2: hsl(213.5, 91.5%, 56.9%);
$dark-cyan-light-1: hsl(213.5, 91.5%, 46.9%);
$dark-cyan-base: hsl(213.5, 91.5%, 36.9%);
$dark-cyan-dark-1: hsl(213.5, 91.5%, 26.9%);
$dark-cyan-dark-2: hsl(213.5, 91.5%, 16.9%);
$dark-cyan-dark-3: hsl(213.5, 91.5%, 6.9%);

$sea-green-light-4: hsl(203.4, 75.8%, 87.5%);
$sea-green-light-3: hsl(203.4, 75.8%, 77.5%);
$sea-green-light-2: hsl(203.4, 75.8%, 67.5%);
$sea-green-light-1: hsl(203.4, 75.8%, 57.5%);
$sea-green-base: hsl(203.4, 75.8%, 47.5%);
$sea-green-dark-1: hsl(203.4, 75.8%, 37.5%);
$sea-green-dark-2: hsl(203.4, 75.8%, 27.5%);
$sea-green-dark-3: hsl(203.4, 75.8%, 17.5%);
$sea-green-dark-4: hsl(203.4, 75.8%, 7.5%);

$dim-gray-light-4: hsl(21.2, 10.7%, 71.2%);
$dim-gray-light-3: hsl(21.2, 10.7%, 61.2%);
$dim-gray-light-2: hsl(21.2, 10.7%, 51.2%);
$dim-gray-light-1: hsl(21.2, 10.7%, 41.2%);
$dim-gray-base: hsl(21.2, 10.7%, 31.2%);
$dim-gray-dark-1: hsl(21.2, 10.7%, 21.2%);
$dim-gray-dark-2: hsl(21.2, 10.7%, 11.2%);
$dim-gray-dark-3: hsl(21.2, 10.7%, 1.2%);

$dark-salmon-light-3: hsl(34.3, 66.8%, 91%);
$dark-salmon-light-2: hsl(34.3, 66.8%, 81%);
$dark-salmon-light-1: hsl(34.3, 66.8%, 71%);
$dark-salmon-base: hsl(34.3, 66.8%, 61%);
$dark-salmon-dark-1: hsl(34.3, 66.8%, 51%);
$dark-salmon-dark-2: hsl(34.3, 66.8%, 41%);
$dark-salmon-dark-3: hsl(34.3, 66.8%, 31%);
$dark-salmon-dark-4: hsl(34.3, 66.8%, 21%);

$slate-gray-light-4: hsl(223.5, 16.1%, 91.4%);
$slate-gray-light-3: hsl(223.5, 16.1%, 81.4%);
$slate-gray-light-2: hsl(223.5, 16.1%, 71.4%);
$slate-gray-light-1: hsl(223.5, 16.1%, 61.4%);
$slate-gray-base: hsl(223.5, 16.1%, 51.4%);
$slate-gray-dark-1: hsl(223.5, 16.1%, 41.4%);
$slate-gray-dark-2: hsl(223.5, 16.1%, 31.4%);
$slate-gray-dark-3: hsl(223.5, 16.1%, 21.4%);
$slate-gray-dark-4: hsl(223.5, 16.1%, 11.4%);