@import 'mixins';

.playlist {
  @include soundroom-page;
  overflow: scroll;
  border: 1px solid;
}

.playlist .song img {
  width: 25px;
  transition: all 0.2s;
  transform: rotate(45deg)
}

.playlist .empty-msg {
  align-self: center;
  margin-top: 30px;
}