@import 'mixins';

.playlist-builder {
  @include soundroom-page
}

.search-bar {
  display: flex;
  padding: 10px 10px;
  border: 2px solid;
  margin-bottom: 10px;
}

.search-bar input:nth-of-type(1) {
  align-self: auto;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid;
  margin-right: 5px;
  width: 100%;
  font-size: 20px;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

#search-type, .search-bar input:nth-of-type(2) {
  background: linear-gradient($sea-green-light-2, $sea-green-base);
  color: white;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0 7px;
  font-size: 12px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.search-results {
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
  width: 100%;
}