@import 'colors';

.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient($sea-green-base, $dim-gray-light-2);
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 15px;
}

.user-page a {
  color: white;
}

#need-premium {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 7px 0;
  font-size: 12px;
  background-color: rgb(216, 50, 50);
  animation: banner .6s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-identity {
  display: flex;
  align-items: center;
  // position: relative;
  margin-bottom: 10vh;
  animation: fade-in 2s;
}

.user-page h3 {
  font-weight: 600;
  font-size: 30px;
}

.user-page img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-page button {
  background-color: transparent;
  width: 20%;
  min-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  transition: all .3s;
  color: white;
  font-size: 15px;
  animation: fade-in 2s;
  margin: 8px 0;
}

.user-page button:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.user-page button:focus {
  outline: none;
}

.user-page label {
  font-size: 20px;
  animation: fade-in 2s;
}

.user-page input {
  margin-bottom: 10vh;
  width: 100%;
  max-width: 70vw;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  transition: all 1s;
  animation: expand 1.3s;
}

.user-page input:focus {
  outline: none;
  box-shadow: transparent;
}

.user-page p {
  text-decoration: underline;
  font-size: 12px;
}

@media only screen and (min-width: 420px) {
  .user-page label {
    font-size: 26px;
  }

  .user-page input {
    font-size: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .user-page input {
    max-width: 620px;
  }
}