@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,500,700,800&display=swap");
.App {
  font-family: 'Muli', sans-serif; }

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("https://images.unsplash.com/photo-1535083252457-6080fe29be45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") fixed;
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  color: white; }

.logo {
  margin-top: 20vh; }

.logo > h1 {
  font-size: 50px;
  font-weight: 800;
  color: white; }

.logo img {
  width: 40px;
  margin: 0 -5px -1px -5px; }

.landing-page a {
  color: white; }

#sign-in-btn {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 30px 0px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  transition: all .3s; }

#sign-in-btn > img {
  margin-left: 5px;
  width: 80px; }

#sign-in-btn:hover {
  background-color: rgba(255, 255, 255, 0.05); }

@media only screen and (min-width: 640px) {
  .landing-page {
    background-size: 130%;
    background-repeat: no-repeat; }

  .logo > h1 {
    font-size: 65px; }

  .logo img {
    width: 50px;
    margin: 0 -7px -1px -7px; } }
@media only screen and (min-width: 900px) {
  .landing-page {
    background-size: 120%;
    background-position: 0 -130px;
    background-repeat: no-repeat; }

  .logo > h1 {
    font-size: 65px; }

  .logo img {
    width: 50px;
    margin: 0 -7px -1px -7px; } }
@media only screen and (min-width: 1140px) {
  .landing-page {
    background-size: cover;
    background-position: 0 -150px;
    background-repeat: no-repeat; }

  .logo > h1 {
    font-size: 65px; }

  .logo img {
    width: 50px;
    margin: 0 -7px -1px -7px; } }
.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#1d8dd5, #907f75);
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 15px; }

.user-page a {
  color: white; }

#need-premium {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 7px 0;
  font-size: 12px;
  background-color: #d83232;
  animation: banner .6s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.user-identity {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 10%;
  animation: fade-in 2s; }

.user-page h3 {
  font-weight: 600;
  font-size: 30px; }

.user-page img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px; }

.user-page button {
  background-color: transparent;
  width: 20%;
  min-width: 200px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  transition: all .3s;
  color: white;
  font-size: 15px;
  animation: fade-in 2s;
  margin: 8px 0; }

.user-page button:hover {
  background-color: rgba(255, 255, 255, 0.05); }

.user-page button:focus {
  outline: none; }

.user-page label {
  position: relative;
  bottom: 10%;
  font-size: 20px;
  animation: fade-in 1s; }

.user-page input {
  position: relative;
  bottom: 10%;
  width: 100%;
  max-width: 70vw;
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid;
  transition: all 1s;
  animation: expand 1s; }

.user-page input:focus {
  outline: none;
  box-shadow: transparent; }

.user-page p {
  text-decoration: underline;
  font-size: 12px; }

@media only screen and (min-width: 420px) {
  .user-page label {
    font-size: 26px; }

  .user-page input {
    font-size: 30px; } }
@media only screen and (min-width: 900px) {
  .user-page input {
    max-width: 40vw; } }
@keyframes banner {
  from {
    top: -20px; }
  to {
    top: 0px; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes expand {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

/*# sourceMappingURL=App.css.map */
