.welcome-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  background: url("https://images.unsplash.com/photo-1519677584237-752f8853252e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80") fixed;
  background-color: #FFE49B;
  background-position: 0px -50px;
  color: white;
  background-size: cover;
}

.welcome-text {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  width: 300px;
}

.welcome-text > h3 {
  font-size: 30px;
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#sign-in-btn {
  font-size: 18px;
  text-decoration: none;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
}

.demo-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 40px;
  height: 500px;
  background-color: rgba(49, 57, 60, 0.767);
  color: #D8DBCE;
}

.demo-section > h3 {
  font-size: 30px;
  font-weight: 700;
}

.demo-placeholder {
  width: 600px;
  height: 350px;
  background-color: black;
}