.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #7A8AA8;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.774);
}

.nav-bar img {
  width: 36px;
  margin: 0 -5px -1px -5px;
}

.link {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > h1 {
  font-size: 42px;
  font-weight: 800;
  color: black;
}